:root {
    --white: #FFFFFF;
    --dark-blue: #090740;
    --mountain: #7C626F;
    --sand: #DBB29C;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--white);
}

.inpt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.welcome {
    font-size: 36px;
    font-weight: bold;
}

input {
    background-color: var(--sand);
    color: var(--white);
    border-radius: 30px;
    width: 280px;
    height: 60px;
    text-align: center;
    border: none;
    margin-top: 25px;
    font-size: 20px;
    font-weight: lighter;
}

.icon {
    position: absolute;
    left: 0;
    padding-left: 70px;
    padding-top: 40px;
}

::placeholder {
    color: var(--white);
    font-weight: lighter;
    font-size: 20px;
}



